<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">DOYA DOYA ANADOLU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Post <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cityadd" routerLinkActive="active"  href="#">Add City</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <div class="form-group mt-5">
      <form class="form-inline my-2 my-lg-0" *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Mail" name="Mail" [(ngModel)]="loginUser.Mail" required>
      <input class="form-control mr-sm-2" type="password" placeholder="Password"name="Password" [(ngModel)]="loginUser.password" required>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>      
    </form>
      <small id="signup" class="form-text text-muted">Sign up!</small>
    </div>
    <button class="btn btn-secondary mx-2 my-2 my-sm-0" type="submit" *ngIf="isAuthenticated" (click)="logOut()">Log Out</button>
    
  </div>
</nav>